body {
        font-family: 'Arial', sans-serif; 
        margin: 40px;
    }
    .dropdown-row {
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
    }
    .tooltip {
              position: absolute;
              padding: 5px;
              background: silver;
              border: 1px solid #aaa;
              pointer-events: none;
              opacity: 0;
              font-size: 12px; 
    }
    select {
        padding: 5px;
        font-size: 14px;
    }
    svg {
        border: 1px solid #aaa;
    }
